
@{
    ViewData["Title"] = "Home Page";
}

<div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
    <partial name = "_Culture"/>


     

    </div>
    </div>
    </div>
    </div></div>
